@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
padding: 0;
margin: 0;
font-family: "Roboto Condensed", sans-serif;
font-optical-sizing: auto;
background: linear-gradient(to right, rgb(28, 29, 29),rgb(94, 20, 94) );
}
.nav{
  font-family: "Birthstone", cursive;
  font-size: 30px;
}
.bannerTitle{
  font-family: "Birthstone", cursive;
}
a.active{
  text-decoration: underline;
  font-weight: bolder;
}